
*
    {
        padding: 1em;
        margin: 1em;
        line-height: 1.5;
    }

html
    {
        background-color: aqua;

    }

header
    {
        background-color: black;
    }

nav
    {
        background-color: green;
    }


body
    {
        background-color: blue;
    }

h1
    {
        background-color: blueviolet;
    }

ul
    {
        background-color: greenyellow
    }